<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.HumphreyDBConnectionString"
            connectionString="Data Source=JORDAN;Initial Catalog=HumphreyDB;Persist Security Info=True;User ID=sa;Password=Sargeant41!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>